<div id="footer">

    <i class="fab fa-facebook fa-6x" id="facebook-icon"></i>


    <i class="fab fa-twitter fa-6x" id="twitter-icon"></i>


    <i class="fab fa-instagram fa-6x" id="instagram-icon"></i>

</div>