<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>
<nav class="navbar  navbar-dark  fixed-top py-2">
    <div class="container-fluid">
        <div id="nav-logo">
            <a href="index" class="navbar-brand">
                <img src="img/logo.png" alt="" id="navbar-logo">
            </a>
        </div>
        <div id="nav-toggler">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span id="button-text">Menu</span>
        </div>
        <div id="nav-dropdown">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    All
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Titles</a></li>
                    <li><a class="dropdown-item" href="#">Tv Episodes</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Advanced Search</a></li>
                </ul>
            </li>
        </div>
        <div id="search">
            <form id="searchForm" class="d-flex">
                <input id="search-text" class="form-control me-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button id="searchButton" class="btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
<div id="banner">
    <div id="banner-image">
        <img src="https://images-na.ssl-images-amazon.com/images/G/02/shazam/MOLV-S1-01137-PMHouse-970x250-POST-Final-en-US-HO-PVD2765-KvObS-a9a98a6b-3fbe-4e11-952b-facb7a425310.jpg"
            width="970" height="250" alt="Click here">
    </div>
</div>